@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'work Sans', sans-serif;
}

body {
  min-height: 100svh;
  height: 100%;
  background-color: var(--mv-color-6);
}

:root {
  --mv-color-1: #8000ff;
  --mv-color-2: #e5e6eb;
  --mv-color-3: #999797;
  --mv-color-4: #ffee2e;
  --mv-color-5: #15975b;
  --mv-color-6: #303030;

  --mv-margin-xs: 10px;
  --mv-margin-s: 20px;
  --mv-margin-m: 30px;
  --mv-margin-l: 40px;
  --mv-margin-xl: 50px;
  --mv-margin-section: 80px;

  --mv-padding-xs: 10px;
  --mv-padding-s: 20px;
  --mv-padding-m: 30px;
  --mv-padding-l: 40px;
  --mv-padding-xl: 50px;

  --mv-gap-xs: 10px;
  --mv-gap-s: 20px;
  --mv-gap-m: 30px;
  --mv-gap-l: 40px;
  --mv-gap-xl: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mv-gap-xs);
  flex-wrap: wrap;
  background-color: var(--mv-color-2);
  color: var(--mv-color-6);
}
.flex-container > h3 {
  text-align: center;
  margin: var(--mv-margin-xs);
}

#app {
  gap: var(--mv-gap-xl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 10px;
}

#app > div {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  padding-bottom: var(--mv-padding-s);
  border: solid var(--mv-color-1) 3px;
  border-radius: 5px;
}

.img-container {
  margin-top: var(--mv-margin-xs);
  width: 100%;
  height: 250px;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.estrellas {
  gap: var(--rtc-gap-xs);
}

.flex-container > div .estrella {
  width: 25px;
  height: 25px;
  background-color: var(--mv-color-2);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flex-container > div .rellena {
  background-color: var(--mv-color-4);
}

#filtros {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  align-content: center;
  gap: 15px;
  margin-left: 15px;
}

#filtros > .clean,
button,
input,
select {
  border: 2px solid var(--mv-color-1);
  border-radius: 3px;
  padding: 10px;
  gap: 8px;
}

.lines {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.lines .line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0)),
    color-stop(75%, #ffffff),
    to(#ffffff)
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  -webkit-animation: run 7s 0s infinite;
  animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -25%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.lines .line:nth-child(3) {
  margin-left: 25%;
}
.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
